[project]
authors = ["Thomas Schrefl, DISS-UWK", "Wilfried Hortschitz, DISS-UWK", "Hans Fangohr <hans.fangohr@mpsd.mpg.de>"]
channels = ["conda-forge"]
description = "An EMMO-based ontology for magnetic materials."
name = "MagneticMaterialsOntology"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[tasks]
build = "python src/build_onto.py"
check = "emmocheck magnetic_materials_ontology_mammos.ttl"
init_dot = "dot -c"  # needed on Mac M2 before graphviz can be used
docs = {cmd = "python mammosdoc --template=mammos.md --local --format=html ../magnetic_material_mammos.ttl magnetic_material_mammos.html", cwd = "doc", depends-on = ['init_dot']}
clean = "rm -f demo.sqlite3 magnetic_material_mammos.ttl doc/magnetic_material_mammos.html"

# convenience target: run all steps subsequently
all = { depends-on = ["clean", "build", "check", "docs"] }


[dependencies]
python = "3.13.*"
graphviz = ">=12.0.0,<13"
pandoc = "==3.1.3"

[pypi-dependencies]
emmontopy = "==0.8.1"
