[workspace]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
name = "MagneticMaterialsOntology"
version = "0.0.4"
authors = [
  "Thomas Schrefl, DISS-UWK",
  "Wilfried Hortschitz, DISS-UWK",
  "Hans Fangohr <hans.fangohr@mpsd.mpg.de>",
  "Andrea Petrocchi <andrea.petrocchi@mpsd.mpg.de>",
]
description = "An EMMO-based ontology for magnetic materials."

[tasks]
clean = "rm -f magnetic-materials.sqlite3 magnetic-materials.ttl doc/magnetic-materials.html"
build = "python src/build_onto.py"
check = "emmocheck magnetic-materials.ttl"
reason = "ontoconvert magnetic-materials.ttl magnetic-materials.ttl --reasoner --infer"
docs = { cmd = "python mammosdoc-cli.py --template=mammos.md --local --format=html ../magnetic-materials.ttl magnetic-materials.html", cwd = "doc" }

# run all steps subsequently
all = { depends-on = ["clean", "build", "reason", "check", "docs"] }

[target.osx-arm64.tasks]
init_dot = "dot -c"  # needed on Mac M2 before graphviz can be used
docs = { cmd = "python mammosdoc-cli.py --template=mammos.md --local --format=html ../magnetic-materials.ttl magnetic-materials.html", cwd = "doc", depends-on = ['init_dot'] }

[dependencies]
python = "3.13.*"
graphviz = ">=12.0.0,<13"
pandoc = "==3.1.3"
openjdk = ">=25.0.1,<26"

[pypi-dependencies]
emmontopy = "==0.8.1"
