name: Build and check ontology

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.4
    - name: Clean repository
      run: pixi run clean
    - name: Build ontology
      run: pixi run build
    - name: Check ontology
      run: pixi run check
    - name: Build documentation
      run: pixi run docs
